.container-list {
  padding: 0.75rem;
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #374151;
}

.container-list .sublist-item {
  display: flex;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-right: 1rem;
  justify-content: space-between;
  align-items: center;
}

.container-list .sublist-item:hover {
  background-color: #8447d108;
}

.list-item .list-item-label {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}

.control {
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
  align-items: center;
  border-radius: 0.25rem;
}

.control .checkbox {
  border-radius: 0.25rem;
  border-color: #d1d5db;
  width: 1rem;
  height: 1rem;
  background-color: #f3f4f6;
  color: #8447d1;
}

.control .checkbox:focus {
  box-shadow: initial;
}

.control .label {
  font-weight: 400;
  color: #4b5563;
  font-size: 14px;
}

.dark #libraries-select-button {
  color: #ffffff;
  border: 1px solid #383c43;
}

.dark #dropdownHelper {
  background-color: #2a2d32;
}

.dark .control .checkbox {
  background-color: transparent;
  border: 1px solid #00000060;
}

.dark .control .label {
  color: #ffffffd9;
}

.dark .list-item span {
  color: #ffffff;
}
