.tooltip-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.tooltip {
  display: none;
  position: absolute;
  right: 50px;
  top: 38px;
  white-space: nowrap;
  background-color: #fff;
  border-radius: 4px;
  padding: 8px;
  z-index: 20;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.12);
  width: max-content;
}

.tooltip .tooltip__content--text {
  color: #000000;
  font-size: 14px;
  font-weight: 500;
}

.tooltip__container .icon {
  font-size: 24px;
  line-height: 0;
  color: #8c97a6;

  display: flex;
  justify-content: center;
}
