body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FCFCFC;
}

main {
    padding: 24px;
}

a {
    color: #8447D1;
    text-decoration: underline;
}

.navbar {
    overflow: hidden;
    background-color: white;
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}

.navbar .title {
    color: #243942;
    font-weight: 500;
    font-size: 1.125rem;
}

.navbar .divider {
    width: 1px;
    height: 1rem;
    background: rgba(0, 0, 0, 0.12);
}

.navbar .logo {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    padding: 1.5rem;
    text-decoration: none;
}

.navbar .logo>*+* {
    margin-left: 1rem;
}

.navbar span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.5);
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 8px;

    background-color: rgba(132, 71, 209, 0.08);
    text-decoration: none;
    color: #8447D1;
}

/* Containers */
.editor-container {
    display: flex;
    flex-direction: row;
    /* 3 * 24px = 72px for padding, 72px for navbar, 32px for footer */
    height: calc(100vh - (3 * 24px) - 72px - 32px);
    gap: 24px;
}

.editor-container>div {
    flex: 1;
}

.output-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.output-container>* {
    flex: 1;
}

.editor {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid #E3E3E3;
    overflow: hidden;
}

.editor__header {
    padding: 1rem;
    border-bottom: 1px solid #E3E3E3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editor__header .title {
    color: #34454C;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
}

.editor__header .description {
    color: #5D7B89;
    font-weight: normal;
    font-size: 14px;
}

.editor>.editor__input {
    height: 100%;
}

.editor.editor--output {
    background: #1D2E35;
    color: white;
}

.editor.editor--output .editor__header {
    border-color: #2D4753;
}

.editor>.editor__output {
    background: #1D2E35;
    resize: none;
    height: 100%;
    padding: 12px;
}

.editor>.editor__output::placeholder {
    color: #E1E7EA;
}


/* Buttons and Inputs */

.button {
    padding: 4px 24px;
    border-radius: 4px;
    background: #8447D1;
    color: white;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    height: 32px;
}

.button:hover {
    background: #925CD6;
}

.button:disabled {
    background: #8B8692;
}


/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.5);
    margin: 0 24px;
    font-size: 14px;
}

footer .version {
    padding: 4px 8px;
    background: #EBEBEB;
    border-radius: 4px;
}

/* Ace Custom */

.ace-clouds .ace_marker-layer .ace_active-line {
    background: rgba(0, 0, 0, 0.07);
}

.ace-clouds .ace_gutter-active-line {
    background-color: #dcdcdc;
}

.tippy-tooltip {
    background-color: white;
    color: #3E525B;
    padding: 0;
}

.tippy-backdrop {
    background-color: white;
}

.tippy-content {
    display: flex;
    flex-direction: column;
    border: 1px solid #E3E3E3;
    overflow: hidden;
    border-radius: 0.25rem;
}

.example-item {
    min-width: 280px;
    background-color: white;
    padding: 0.5rem 1rem;
    border: none;
    text-align: left;
    line-height: 24px;
    font-size: 14px;
    color: #3E525B;
    transition: all 0.2s;
    cursor: pointer;
    z-index: 1000;
}

.example-item:hover {
    background-color: rgba(132, 71, 209, 0.08);
}

.examples__button {
    padding: 8px 16px;
    background-color: #FAFAFA;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    color: #3E525B;
    display: flex;
    align-items: center;
    gap: 8px;
}

.examples__button > #example-name {
    line-height: 24px;
}